<nav class="navbar navbar-expand-md noprint">

  <a class="navbar-brand" href="/">
    {% include opensuse.svg %}
    <span class="navbar-title">{{ locale.site_title_short }}</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-menu">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" />
    </svg>
  </button>

  <div class="collapse navbar-collapse" id="site-menu">
    <ul class="nav navbar-nav mr-auto flex-md-shrink-0">
      {% for link in site.navbar_links %}

      {% if link == 'categories' %}
      <!-- Categories Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="cat-menu-link" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path
              d="M16 20V4H4v15a1 1 0 0 0 1 1h11zm3 2H5a3 3 0 0 1-3-3V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v7h4v9a3 3 0 0 1-3 3zm-1-10v7a1 1 0 0 0 2 0v-7h-2zM6 6h6v6H6V6zm2 2v2h2V8H8zm-2 5h8v2H6v-2zm0 3h8v2H6v-2z" />
          </svg>
          {{ locale.categories }}
        </a>
        <div class="dropdown-menu" aria-labelledby="cat-menu-link">
          {% for category in site.categories %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <a class="dropdown-item" href="/category/{{ category_name | slugify }}">
            {{ category_name }}
          </a>
          {% endfor %}
        </div>
      </li>

      {% elsif link == 'locales' %}

      <!-- Locales Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="locale-menu-link" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path
              d="M5 15v2a2 2 0 0 0 1.85 1.995L7 19h3v2H7a4 4 0 0 1-4-4v-2h2zm13-5l4.4 11h-2.155l-1.201-3h-4.09l-1.199 3h-2.154L16 10h2zm-1 2.885L15.753 16h2.492L17 12.885zM8 2v2h4v7H8v3H6v-3H2V4h4V2h2zm9 1a4 4 0 0 1 4 4v2h-2V7a2 2 0 0 0-2-2h-3V3h3zM6 6H4v3h2V6zm4 0H8v3h2V6z" />
          </svg>
          {{ page.locale.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="cat-menu-link">
          {% for ref in page.locale_siblings %}
          <a class="dropdown-item" href="{{ ref.url | relative_url }}">
            {{ ref.locale.name }}
          </a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ site.weblate_url }}">
            {{ locale.translate }}
          </a>
        </div>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{{ link.link | prefix_locale }}">
          {% if link.icon %}
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path d="{{ link.icon }}" />
          </svg>
          {% endif %}
          {{ locale[link.text] | default: link.text }}
        </a>
      </li>
      {% endif %}

      {% endfor %}
    </ul>

    <!-- GitHub Search -->
    <form class="form-inline mr-md-3" action="{{ site.github_url }}/search">
      <div class="input-group">
        <input class="form-control" type="search" name="q" placeholder="{{ locale.search }}" lang="en">
        <input type="hidden" name="l" value="Markdown">
        <input type="hidden" name="s" value="indexed">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path
                d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z" />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>

  <button class="navbar-toggler megamenu-toggler" type="button">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path
        d="M6.75 2.5A4.25 4.25 0 0 1 11 6.75V11H6.75a4.25 4.25 0 1 1 0-8.5zM9 9V6.75A2.25 2.25 0 1 0 6.75 9H9zm-2.25 4H11v4.25A4.25 4.25 0 1 1 6.75 13zm0 2A2.25 2.25 0 1 0 9 17.25V15H6.75zm10.5-12.5a4.25 4.25 0 1 1 0 8.5H13V6.75a4.25 4.25 0 0 1 4.25-4.25zm0 6.5A2.25 2.25 0 1 0 15 6.75V9h2.25zM13 13h4.25A4.25 4.25 0 1 1 13 17.25V13zm2 2v2.25A2.25 2.25 0 1 0 17.25 15H15z" />
    </svg>
  </button>

</nav>
